
JackCity.sln

Assembly-UnityScript.unityproj

Library/
Temp/
obj/
.vs/
UnityPackageManager/

Assembly-CSharp.csproj

JackCity.userprefs
JackCity.csproj
JackCity.Editor.csproj

Assembly-CSharp-Editor.csproj
JackCity.Editor.csproj
JackCity.csproj
JackCity.csproj
JackCity.Editor.csproj
ProjectSettings/ProjectVersion.txt
